[2020-03-07 14:56] J535D165 opened #1 "Reconstruct data of February 27"
Since 3 March, RIVM reports the number of diagnoses with the coronavirus and their municipality of residence on a daily basis. This issue is used to reconstruct the data of February 27 based on RIVM media reports.

- https://www.dvhn.nl/extra/Eerste-besmetting-coronavirus-in-Nederland-25399601.html?harvest_referrer=https%3A%2F%2Fwww.google.com%2F

Result:
- 1 person from Tilburg

[2020-03-07 14:59] J535D165 opened #2 "Reconstruct data of February 28"
Since 3 March, RIVM reports the number of diagnoses with the coronavirus and their municipality of residence on a daily basis. This issue is used to reconstruct the data of February 28 based on RIVM media reports.

- https://www.nu.nl/coronavirus/6033932/tweede-coronabesmetting-in-nederland-patient-in-thuisisolatie-in-diemen.html

Result:
- 1 person from Tilburg
- 1 person from Diemen

[2020-03-07 15:01] J535D165 opened #3 "Reconstruct data of February 29"
Since 3 March, RIVM reports the number of diagnoses with the coronavirus and their municipality of residence on a daily basis. This issue is used to reconstruct the data of February 29 based on RIVM media reports.

- https://www.rivm.nl/nieuws/twee-contacten-testen-positief-voor-covid-19
- https://www.rivm.nl/nieuws/ook-enkele-contacten-van-tilburgse-patient-testten-positief-voor-covid-19
- https:

[2020-03-07 15:02] J535D165 opened #4 "Reconstruct data of March 1"
Since 3 March, RIVM reports the number of diagnoses with the coronavirus and their municipality of residence on a daily basis. This issue is used to reconstruct the data of March 1 based on RIVM media reports.

https://www.rivm.nl/nieuws/drie-nieuwe-patienten-met-covid-19

Result:
- 4 x Tilburg
- 3 x Diemen
- 1 x Delft
- 1 x Drenthe (where?)
- 1 x Gorinchem (hospital)

Total 10

[2020-03-07 15:02] J535D165 opened #5 "Reconstruct data of March 2"
Since 3 March, RIVM reports the number of diagnoses with the coronavirus and their municipality of residence on a daily basis. This issue is used to reconstruct the data of March 1 based on RIVM media reports.

Result:
- 1 person from Tilburg
- 1 person from Diemen
- ...

[2020-03-07 15:08] #1 closed, assigned to nobody

[2020-03-07 15:08] #2 closed, assigned to nobody

[2020-03-07 16:00] #3 closed, assigned to nobody

[2020-03-07 16:28] #4 closed, assigned to nobody

[2020-03-10 07:54] japhir opened #9 "Fit a logistic regression as well?"
Hi Jonathan,

After watching this epic video by 3blue1brown https://www.youtube.com/watch?v=Kas0tIxDvrg I thought you could perhaps fit a sigmoid line as well as the exponential.

Or even better (will probably only make sense if you've seen the video)
1. calculate the change per time step (current value - previous value)
2. calculate the growth rate (ratio of the current and previous change)
3. es

[2020-03-10 08:34] J535D165 commented on #9
Thanks, yes this video is great. Interested in doing a PR?

[2020-03-10 13:18] japhir commented on #9
Yes, I'd be interested but unfortunately cannot take on any programming side projects right now, even though this sounds like fun. Last year of my PhD is about to begin 😅

[2020-03-13 06:23] J535D165 opened #11 "Fix rendering of the maps in Actions"
In the Github Actions workflow, the rendering of the maps fails. Unknown error to me, it works locally. It might be an idea to replace this by Python code.

[2020-03-13 06:26] J535D165 opened #12 "Animation of new cases"
It would be nice to have an animated map with the new cases per municipality. Is anyone interested in implementing?

It might be interesting to use the shapes of rivm: https://www.rivm.nl/media/bubbleMap/shapes/gemeente-2019.geojson

[2020-03-13 06:28] #9 closed

[2020-03-13 06:46] J535D165 opened #13 "Add a short description in Dutch to make repo more findable"

[2020-03-13 06:51] J535D165 opened #14 "Add row with unknown location"
A couple of records don't have a location (or the sum of all cases doesn't sum up to the reported total). We might want to add an additional row/column to the data with unknown locations.

[2020-03-13 06:51] J535D165 opened #15 "Add tables with fatalities"

[2020-03-13 06:55] J535D165 commented on #9
It might be a good idea to add a link to the video in the forecast section

[2020-03-13 14:42] J535D165 opened #17 "Sigmoid plotting fails"
The plotting of the sigmoid fails with the latest data @vmenger

[code]

[2020-03-14 11:01] japhir commented on #17
While it doesn't "fail" anymore, the fit has become very very bad. Any idea what's going on?

[2020-03-14 11:45] J535D165 commented on #17
@rensvandeschoot points to this post. Might be interesting http://www.casperalbers.nl/nl/post/2020-03-11-coronagrafieken/

[2020-03-14 14:18] vmenger commented on #17
The fitting procedure based on estimating the inflection point turns out not to be so optimal. Especially estimating the number of cases at the inflection point is unreliable. Working on a better version right now!

[2020-03-14 14:34] vmenger commented on #17
Ok, I have now fitted a 3-parameter logistic curve without the inflection point based on this manual (linked in the blog post of Casper Albers). Looks way better. Will make the PR now!

[2020-03-14 16:19] japhir commented on #17
@vmenger could you also update the readme to explain the better fitting approach?

[2020-03-14 20:05] J535D165 commented on #17
Many thanks, folks. A great example of open science.

[2020-03-14 20:05] #17 closed

[2020-03-14 21:09] japhir commented on #17
Yes, great work @vmenger :).

We might have to add some further caveats to the README, so that people who see these graphs without any context know that they are very very simple models, whose predictions are very likely very wrong.
I read [this long article](https://medium.com/@tomaspueyo/coronavirus-act-today-or-people-will-die-f4d3d9cd99ca) today that highlights how the number of "real" cases r

[2020-03-14 21:15] vmenger commented on #17
I'll see if I can find some time to update the Readme tomorrow.

[2020-03-14 21:21] vmenger opened #23 "Improve sigmoid simulations"
Do you have any suggestions how to improve the simulations of the sigmoid fitting? Currently it samples known data points (with replacement), but the range is almost certainly way too low.

If have also tried inferring data for the two next days, sampled from the distribution of the growth factor of the last five days. But I doubt the resulting image is still useful/readable:

![sigmoid-with-two-i

[2020-03-15 10:29] japhir commented on #23
Maybe this is all the predictive power a simple sigmoid fit has right now, with 4 parameters fit to 15ish data points. What does it look like when you plot on a log scale?

[2020-03-15 11:56] japhir opened #24 "Logarithmic plot doesn't seem to update"
It still shows points until the 13th, should it be included in some python pipe to update it as well? :).

[2020-03-15 19:34] J535D165 commented on #24
Thanks for reporting. I don't see the code where this plot is generated. Maybe some issues with the rebase?

This plot is not listed in the readme isn't it? https://github.com/J535D165/CoronaWatchNL/blob/master/plots/growth_rate_time.png

[2020-03-15 20:22] japhir commented on #24
regarding the growth rate plot: no it's not in the README, it was me trying to convert @vmenger's code to R so I understood what he was doing ;-).

[2020-03-15 23:40] mvanreek opened #27 "Power BI report for RIVM Corona dataset"
Hi Jonathan,

As discussed by email, you can share my Power BI report for RIVM Corona dataset on your GitHub page, maybe with a reference to my blog-post (where I just uploaded v2 of the report)

https://worktimesheet2014.blogspot.com/2020/03/coronovirus-in-netherlands-power-bi.html
http://tiny.cc/ncwblz

regards,

Maarten van Reek
mvanreek@gmail.com

[2020-03-16 07:34] J535D165 commented on #14
Fixed. If the format stays the same, the data has a line without Gemeentenaam and with GemeenteCode == -1

[2020-03-16 07:34] #14 closed

[2020-03-16 07:34] #24 closed

[2020-03-16 07:49] J535D165 commented on #27
Thanks, Done

[2020-03-16 07:49] #27 closed

[2020-03-16 07:50] J535D165 commented on #12
TODO:

- still on last frame for a couple of seconds
- Add a color scale (dynamic?)

[2020-03-16 20:29] japhir commented on #23
In [this cool article](https://medium.com/@tomaspueyo/coronavirus-act-today-or-people-will-die-f4d3d9cd99ca) they mention that enacting social distancing **one day** earlier results in 40% fewer cases in the end. So that means that what we're going to see really heavily depends on what we're doing now and on what the data show during the next few days. I think it would be helpful to show this unce

[2020-03-16 21:35] mvanreek commented on #27
where can I find it?

Op ma 16 mrt. 2020 om 08:49 schreef Jonathan de Bruin <
notifications@github.com>:

[2020-03-16 21:44] J535D165 commented on #27
Made a section with "interesting links" https://github.com/J535D165/CoronaWatchNL#interesting-links. It might be a bit hidden, but the data needs to be the main focus of the repo.

Are you interested in making a list of fatalities to add to the repo? I'm too busy to work on it right now (I'm working on a large scientific project regarding corona).

[2020-03-16 21:56] J535D165 commented on #23
Really detailed. Very nice.

btw @vmenger, your model fits well today.

[2020-03-16 22:09] japhir opened #28 "Sometimes the plot titles are a bit too vague and can potentially be misinterpreted"
Some of the plot titles, such as "Voorspelling aantal Coronavirus besmettingen" may be misleading when read without context. They aren't actual predictions but rather the result of very simple fits. I've adjusted them in an upcoming pull request.

[2020-03-16 22:35] japhir commented on #11
Is this referring to the last bit of `plots.R`? For me locally it also doesn't run (after installing sf and all the secret libraries it needs but didn't tell me about, like gdal :angry:)

`Error: stat_sf requires the following missing aesthetics: geometry`

[2020-03-16 22:38] japhir commented on #11
by adding `, geometry = geometry` to the aesthetics call it fixes it for me.

[2020-03-17 21:12] mvanreek commented on #27
Ok, I saw the link, thanks.
I'm afraid I also don't have enough time to work on adding fatalities. I'm not even sure if RIVM offers this data?

[2020-03-18 11:03] JochemZ commented on #5
3-3-2020 has 8 missing for Unknown, 16-3-2020 has 1 missing for maasdriel and unknown is to high (+2), 17-3-2020 has 1 missing for unknown?

[2020-03-18 13:06] J535D165 commented on #5
Thanks!

3-3-2020:

2020-03-03,Coevorden,109,Drenthe,2
2020-03-03,Houten,321,Utrecht,1
2020-03-03,Utrecht,344,Utrecht,2
2020-03-03,Diemen,384,Noord-Holland,3
2020-03-03,Haarlem,392,Noord-Holland,1
2020-03-03,Alphen aan den Rijn,484,Zuid-Holland,1
2020-03-03,Delft,503,Zuid-Holland,1
2020-03-03,Rotterdam,599,Zuid-Holland,1
2020-03-03,Eindhoven,772,Noord-Brabant,1
2020-03-03,Helmond,794,Noord-Brabant

[2020-03-18 13:15] J535D165 opened #30 "Exclude 'buitenland' in total stats"
Seems like RIVM excludes the (single?) person living abroad in their statistics. Therefore, our totals are too high. Need to remove this one from our counts imo.

[2020-03-18 13:16] J535D165 commented on #15
Can anyone provide us a list of the fatalities over time? A short table to update on a daily basis.

[2020-03-18 13:47] JochemZ commented on #5
To make my data correct (according data published in the news) I have to some changes to the data:

16-03-2020,Onbekend,-2
16-03-2020,Maasdriel,1
17-03-2020,Onbekend,1
18-03-2020,Onbekend,-1

I think the problem is in the unknown data from RIVM, these are my results now (after correction):
Onbekend | 02-03-2020 | 8
Onbekend | 03-03-2020 | 8
Onbekend | 04-03-2020 | 1
Onbekend | 05-03-2020 | 5
Onbek

[2020-03-19 21:07] J535D165 commented on #15
Fixed

[2020-03-19 21:07] #15 closed

[2020-03-19 21:08] J535D165 opened #31 "Add plots on fatalities and hospitalised patients"
New datasets have been added. It would be nice to have plots on these numbers as well.

@japhir

[2020-03-20 07:50] JochemZ commented on #5
Yesterday the unknown category was missing +89

[2020-03-20 07:55] J535D165 commented on #5
Thanks, counting one more:

[code]

I think I have to exclude the foreigner(s).

[2020-03-20 07:56] J535D165 commented on #5
Maybe we should document this, there is quite some discussion on the way I'm saving the unknowns.

[2020-03-20 08:52] JochemZ commented on #5
90 will give me 2461 the rivm site and the news told me 2460, rise is 410 (with value 90) instead of 409 compared to 18-3-2020

[2020-03-22 18:30] patfee opened #33 "Error in dataset on e.g. row 18"
in file rivm_corona_in_nl.csv i notice some lines which dont specify a "gemeenten". Like e.g. row 18
2020-03-02 |   | -1 |   | 8 -- | -- | -- | -- | --

There a few more of these.

How should i interpret these lines please?

Thanks
PAtrick

[2020-03-22 21:00] Hazedd opened #34 "growth rate in % over last n days"
i have made some graphs in ArcGIS Pro, maybe intresting to generate on daily basis (and not in ArcGIS)?

working on a api endpoint that trows a html folium map
todo:
- [ ] timeslider
- [x] geojson & style function instead of choropleth map
- [ ] chart popup
- [ ] splitmap
- [ ] data annotation

preview:
[http://hazedd.pythonanywhere.com/coronaWatchNL/map
](http://hazedd.pythonanywhere.com/coronaWa

[2020-03-22 22:35] J535D165 commented on #34
Nice plots. Do you have Python skills? The draft is already there (map gifs). Not that hard to adjust.

[2020-03-22 22:40] J535D165 commented on #33
These are the number of patients with an unknown municipality of residence. This number slightly increases over time.

TODO: add a note to the readme

[2020-03-22 22:40] J535D165 commented on #33
Can anyone add a couple of lines on this?

[2020-03-22 22:54] Hazedd commented on #34
Some skills.. Just used arcgis pro for visuals. Can do a remake of the map gifs and add a 3 day growth rate animation.

[2020-03-23 15:39] vmenger opened #35 "Organise plots into subpages"
The readme has become a bit bloated with many plots so it needs some organization. Working on this now.

[2020-03-23 17:49] #35 closed

[2020-03-23 21:44] Hazedd commented on #34
@J535D165 still few todo's be there is some progress.
[coronaWatchNLapi](https://github.com/Hazedd/CoronaWatchNL)

[2020-03-24 07:54] #28 closed

[2020-03-24 07:55] japhir commented on #23
@vmenger could you also update the appropriate readme to explain this resampling procedure? :)

[2020-03-24 07:56] japhir commented on #31
What do you reckon, new descriptive plot enough? Or should we include this in the simple model fitting as well? I think we'd best not…

[2020-03-24 07:58] japhir opened #37 "Also update the graph thumbnails automatically?"
Maybe we could write a very short imagemagick script to put all the plots together and resize them?

[2020-03-24 08:17] japhir commented on #37
A little:
[code]
should do it!

[2020-03-24 09:54] japhir commented on #31
Oh and I was also messing around with a simple column graph (or bar graph) but this results in stacked counts for `infected`, `hospitalized`, and `deceased`. Do you know if the deceased patients are subtracted from the `infected` counts?

[2020-03-24 10:31] J535D165 commented on #31
I think we can close this one :)

No, they aren't. They are counting positive tests only.

[2020-03-24 10:31] #31 closed

[2020-03-24 11:35] vmenger commented on #37
That would be very nice IMO. Perhaps also rename it to thumbnail_descriptive.png or something similar as it is no longer static?

[2020-03-24 11:36] vmenger commented on #23
Yes, will do, but I think it's best to wait for #32 to avoid duplicate work.

[2020-03-24 11:42] J535D165 commented on #37
Great, I did some work on this. I will push some results somewhere today!

[2020-03-25 10:48] japhir commented on #31
@J535D165 I've created another version in [my branch](https://github.com/japhir/CoronaWatchNL/blob/pimpplots/readmes/descriptive_plots.md) using bar graphs and switching from geom_rect to geom_rug for the timeline annotations. I'm not sure which one I prefer. What do you think?

[2020-03-25 21:28] Hazedd commented on #34
allmost.....
todo:
splitmap
timeslider

![image](https://user-images.githubusercontent.com/20663495/77587155-a7352480-6ee7-11ea-84ec-873bab90ed81.png)

![image](https://user-images.githubusercontent.com/20663495/77587244-d481d280-6ee7-11ea-86e0-e4f215eb5403.png)

![image](https://user-images.githubusercontent.com/20663495/77587310-f0857400-6ee7-11ea-9fc1-9dfafe088967.png)

[2020-03-26 14:46] Hazedd commented on #34
update, hope i can do some more this weekend..

[http://hazedd.pythonanywhere.com/coronaWatchNL/map](http://hazedd.pythonanywhere.com/coronaWatchNL/map)

[2020-03-27 16:42] 4tikhonov opened #39 "Confirmed cases by sex and age"
I've discovered RIVM recently published data on COVID-19 cases by sex and age, and also a distribution by GGD district:
https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_the_Netherlands

Any plans to incorporate the data in the repository?

[2020-03-29 20:51] #13 closed

[2020-03-29 21:08] #34 closed

[2020-03-29 21:11] Hazedd commented on #34
issue closed: folium abandoned.

[2020-03-31 13:35] ghostleyjim opened #44 "Data changes by RIVM - 31 March 2020"
Hello Jonathan,

Quick heads up! as you will find on the RIVM website they changed the data from confirmed cases to number of people hospitalized in the municipalities.

Kind regards,
Jim

[2020-03-31 14:33] lkleuver commented on #12
we have(had) this with the old RIVM data at https://coronb.caard.nl
our current version (https://corona.caard.nl) isn't very interesting to animate yet due to the data change.

[2020-03-31 14:37] J535D165 commented on #44
Hi Jim, this is quite an issue :(

The main source of information is the daily pdf report from now on. This PDF is full of tables and changes in structure from day-to-day. I'm now thinking about generating new datasets based on these PDF's but need the help of you folks.

I'm thinking about a dataset with
- Count cases per province.
- Hospitalized patients for each province.
- Age distributions
-

[2020-03-31 14:38] J535D165 commented on #44
After making those new datasets, we have to update the plot code @japhir.

[2020-03-31 14:38] lkleuver commented on #44
please beware that their csv headings are mixed up:

[code]
BevAant and Aantal are mixed.

I 'fixed' this in our parser by doing:
[code]
Since the file I have for the 30th has the correct headings/data pair
not really a fix but it works

[2020-03-31 15:11] edwinveldhuizen commented on #44
This is nuts, why are they suddenly switching to only publishing hospitalised cases?

[2020-03-31 15:55] J535D165 commented on #44
I'm receiving a lot of emails on this issue at the moment. I will start working on this (around 8 pm CEST).  I will add new datasets and a plan to maintain this repo. Please drop ideas in this issue.

[2020-03-31 16:53] ghostleyjim commented on #44
Put the question on twitter. See if their social media team does something with this...
If you need any help with something let me know.
However I am not a pro software developer (discord Corona bot was firat python project) so don't expect very fancy code from me.
I will continue searching if I can pull the information from somewhere else, as soon as I find something you will be the first to hear

[2020-03-31 16:56] vmenger commented on #44
PyPDF2 looks promising for extracting stuff from PDFs. I'll check if its feasible for the RIVM reports right now.

[2020-03-31 17:01] ghostleyjim commented on #44
databronnencovid19@rivm.nl give them an email? But not with 50 people at the same time... Do one of you guys want to send it?

[2020-03-31 19:32] dstotijn commented on #44
Already did yesterday morning:

Didn't get a response yet 😢

[2020-03-31 19:37] J535D165 opened #46 "Concerns about missing locations"
On 30 March, we had 310 missing municipalities. Based on the RIVM report, there are no missing provinces today. Is this possible? Are they imputing with the GGD region? Or do they no longer include missing locations? That would be interesting. Any thoughts on this?

12595 - (126 + 166 + 130 + 1475 + 161 + 1426 + 3412 + 1845 + 698 + 1046 + 161 + 1949) = 0

![image](https://user-images.githubusercon

[2020-03-31 19:54] J535D165 commented on #44
@lkleuver They published a new version of the data with corrected column names (19:20).

@ghostleyjim @dstotijn We were in contact with RIVM. It wasn't very satisfying so far. We offered them a team of data experts from Utrecht University to set up a data repository like the one in Italy. I will keep you updated.

[2020-03-31 20:56] patrborn opened #47 "Commit deleted the data from 2020-03-31 in rivm_corona_in_nl_daily.csv"
Last commit deleted the data from 2020-03-31 (12595)

https://github.com/J535D165/CoronaWatchNL/commit/a450b7cc79670ee3b329a8a3d28badfcd97cd3e9#commitcomment-38181311

[2020-03-31 21:17] J535D165 commented on #44
I published 3 new datasets available. One with the case counts per province (complete time-series), one with the hospitalized patients per municipality and one with age groups. What should we add next?

Let's see what happens tomorrow at 2 p.m. ... Hopefully, all of your emails will result in clean and standardized datasets (not published in PDF format).

Stay safe.

[2020-03-31 21:38] J535D165 commented on #39
I did add a dataset with ages. https://github.com/J535D165/CoronaWatchNL/blob/master/data/rivm_NL_covid19_age.csv

Let's team up to fix the other ones as well.

[2020-03-31 21:39] #30 closed

[2020-03-31 21:39] #23 closed

[2020-03-31 23:26] J535D165 commented on #39
sex is now available as well :)

[2020-03-31 23:26] #39 closed

[2020-04-01 00:26] Allactaga commented on #44
I see that you move case counts per municipality into Inactive category. Is it temporary move for while you are discussing situation with RIVM? Or did they confirm that they are not planning to share these numbers anymore?

[2020-04-01 06:48] J535D165 commented on #44
Not sure yet. I expect them to discontinue those numbers. There are some arguments to do so, but let see what happens today.

[2020-04-01 06:48] lkleuver commented on #44
Ik heb via m'n vrouw het telefoon nummer van de strategie officer van het RIVM.
Deze ga ik hier uiteraard niet delen, maar @J535D165 heb jij interesse om te bellen/appen?

[2020-04-01 06:58] J535D165 opened #48 "Extract info from pdf maps"
I think it is quite doable to extract the color values from the maps in an automated way.

Outline:

- Screenshot/image the relevant pdf page.
- Compute the center of mass of each municipality with CBS 2019 Wijk en Buurtkaart maps
- Make this an overlay for the image.
- Extract the color values and map them to the corresponding values.

Is someone interested in giving this one a try?

[2020-04-01 07:39] BasSchnater commented on #44
Just dropping a note here that you guys are on top of things and I just would like to thank you for that :)

[2020-04-01 08:41] patrborn commented on #47
Too bad you have closed this issue. You can also see the result of the missing day 2020-03-31 in your own plots:

https://github.com/J535D165/CoronaWatchNL/raw/master/plots/overview_plot.png

https://github.com/J535D165/CoronaWatchNL/raw/master/plots/overview_plot_diff.png

[2020-04-01 09:03] ghostleyjim commented on #48
FYI: they use highcharts sw
https://www.highcharts.com/blog/products/highmaps/226-get-your-data-ready-for-charts-with-python/

[2020-04-01 09:07] J535D165 commented on #44
@lkleuver Please send me an email.

[2020-04-01 09:14] J535D165 commented on #47
Sorry, this was by mistake. I'm a bit tired ;)

[2020-04-01 09:21] J535D165 commented on #47
Fixed. Sorry and please keep reaching out. It was a challenge yesterday because of all of the changes by RIVM.

[2020-04-01 09:25] patrborn commented on #47
Thanks for all the effort you put into it

[2020-04-01 09:42] GlobalConservationist commented on #47
Thanks for all your effort! The data from the 31st seems incorrect though? Many municipalities have lower numbers than the days before?

[2020-04-01 09:52] GlobalConservationist commented on #44
Thanks for publishing these! I was making daily clips/gifs with cases per municipality (and per 100.000 per municipality) of the number of confirmed cases. Let's hope they standardize the publishing. At least it's not as bad as the UK (publish per health board, but there are no geographic files publicly available of healt boards, neither are number of people living in each board).

[2020-04-01 10:37] vmenger commented on #48
If someone could help computing the center of mass of each municipality, I can give the rest a shot. Not really a GIS master but the rest is doable.

[2020-04-01 11:22] J535D165 commented on #48
https://github.com/J535D165/CoronaWatchNL/blob/master/ext/gemeente-2019.geojson is the geojson file they use. Put this in geopandas and compute the centroid? I think this is build-in.

It is best to convert the coordinates to RD coordinates first. WGS84 is hard to map on an image.

[2020-04-01 11:40] vmenger commented on #48
Thanks. Never worked with geopandas before but that was extremely straightforward. I'll see how far I get with the rest this afternoon.

[2020-04-01 12:09] JJKuijvenhoven commented on #44
Thanks for all the information that you have published so far. Unfortunately, RIVM changed confirmed per municipality into hospitalized, while they have information per municipality for confirmed, hospitalized and deaths in their epidemiologic report.

But still, you can't do anything about that and only hope they will publish this information as well.

One suggestion for your dataset is fatalitie

[2020-04-01 12:33] vmenger commented on #48
I cannot seem to figure out what kind of coordinate system they are using:

0      POINT (562294.302 1519071.007)
1      POINT (567552.915 1519778.692)
2      POINT (546904.455 1507314.795)
3      POINT (553960.209 1521725.855)
4      POINT (455268.367 1412300.520)
                    ...
350    POINT (400357.530 1346313.608)
351    POINT (539962.303 1524591.852)
352    POINT (527592.823 1506619.9

[2020-04-01 12:58] #47 closed

[2020-04-01 13:09] J535D165 commented on #48
Sorry for missing your post, mentioning RD in my previous post was a bit too cryptic.

Thanks a lot for your effort.

[2020-04-01 13:25] J535D165 commented on #46
I think the data is imputed. For 30-04-2020, the numbers add up as well. Then, there were 310 missing municipalities, but the report was able to assign them to a province.

I will reopen this one if anyone has new insights.

[2020-04-01 13:25] #46 closed

[2020-04-01 13:28] J535D165 commented on #44
Update:

- No changes to the RIVM data model today.
- We made an update of all datasets in this repo. I made a couple of mistakes, but they are resolved I think. Please let me know if there is anything wrong.
- @vmenger is working on a tool to convert the maps in the PDF into numbers!
- I'm looking for scripts to automate the process. There is a lot of manual editing involved at the moment.

I wil

[2020-04-01 13:33] rollick commented on #44
@J535D165 Have you tried to request the data via https://data.overheid.nl/? I have a contact there I can check with. There are already a few groups/people scraping for data when it is available in a database somewhere.

[2020-04-01 13:33] vmenger commented on #48
The coordinate system (https://epsg.io/28992) still does not match. Points fall out of the bounding box. Have some other stuff to do right now, will probably resume tonight.

[2020-04-01 15:27] Digidodo commented on #48
When using gemeente-2019.geojson provided here i also have strange results. The polygons are plotted to much north. I downloaded the CBS municipality borders 2020 and made a [demomap](http://www.familieboers.eu/corona/coronawatchdemo/).  You can download the data i used by clicking "download gemeentegrenzen" Hope it's useful.
@vmenger

[2020-04-01 15:43] Digidodo commented on #48
A ([demo map](https://www.familieboers.eu/corona/coronawatchdemo/indexgit2.html)) with my results using gemeente-2019.geojson. Just for information.

[2020-04-01 15:46] J535D165 commented on #48
@vmenger. There is RD old and new. Based on the examples above, this seems to be RD old. But, is there a need to convert? I think we can rescale those coordinates. Do you have code to read the pdf image into numpy array?

The tricky part is to find de bounding boxes of the image. You can compute the bboxes of the geojson file with geopandas.

@Digidodo Thanks for your help! We need the municipalit

[2020-04-01 17:21] Hazedd commented on #48
https://github.com/cartomap/nl

For geojson RD and wgs84
Source cbs should be projected correctly

[2020-04-01 20:11] vmenger commented on #48
![gemeenten_mapped_to_page](https://user-images.githubusercontent.com/30691574/78181304-69467c00-7464-11ea-9f0e-facd9aea19dc.png)

Didn't find the time today to get further, but getting there with the RIVM geo file. Match is not yet perfect but can be tweaked a little. For now I did it by selecting some anchor points on the image and then mapping (scale+transpose) to the page. But obviously this i

[2020-04-01 20:13] vmenger commented on #48
Also: screw you, gemeente Heerenveen ;)

[2020-04-02 04:54] mvanreek commented on #44
I hope RIVM will listen to you, and publish the CSV file wiht #infected/municipality again, but I have low expectations since I also emailed them once to ask if they could deliver their data in a more 'modern' way (e.g. like Italy does) and after 5 days(!) I got an answer saying that they think it\s already quite nice that they offer a daily CSV-file. Buth thy changed the format of this CSV quite

[2020-04-02 08:02] mvanreek commented on #44
Regarding PDF-readers (to extract data of for RIVM.pdf), I worked (and have good experience) with this (free) tool:  [pdftoexcel](https://www.pdftoexcel.com)

And maybe you could also contact @datadista, maker of this COVID19-in-Spain repo:
[https://github.com/datadista/datasets/tree/master/COVID%2019](https://github.com/datadista/datasets/tree/master/COVID%2019)

I also used their dataset to make

[2020-04-02 09:40] lkleuver opened #49 "coronawatch website"
is het een idee om een website te genereren aan de hand van alle data/grafieken in deze repo?
zoals bijvoorbeeld http://covid19.healthdata.org/

ik zat zelf te denken aan een [gatsby](https://www.gatsbyjs.org/) site gehost op S3.
met daar op de datasets, grafieken, kaarten etc.

We hebben zelf het domein caard.nl "over" waar vast wel een acronym van te maken is. Maar een ander domein kan natuurlij

[2020-04-02 12:22] PanderMusubi opened #50 "Two extra gaphs on timeline"
Can https://raw.githubusercontent.com/J535D165/CoronaWatchNL/master/plots/timeline.png also show 1) the total number of tests (first test positive + first test negative) and 2) the number of people that have recovered and subsequently tested negative (confirmation test negative).

[2020-04-02 12:28] J535D165 commented on #48
I will give it a try tonight.

This is an excellent coding interview question btw.

[2020-04-02 12:38] J535D165 commented on #50
This data is in the reports nowadays, but we didn't standardize it yet. It would be interesting.

Is this data available? I don't think so. Please point me to the source if it is.

@japhir made this graph. What are your toughts?

[2020-04-02 12:41] J535D165 commented on #49
This is definitively interesting. Maybe the community can work on this. We can host it on Github Pages, but then it is client-side only (which is feasible I guess). This is quite straightforward with React for example.

[2020-04-02 13:38] PanderMusubi commented on #50
When adding line 1 to the graph, all lines are each time a smaller number. Hence, don't add only first test negative as a separate line.

for 2: on the Guardian is reported how many people have recovered globally. No idea where they got this info.

[2020-04-02 13:43] CGraveland commented on #49
Great idea, to have this also for NL and European countries / states.

[2020-04-02 14:12] japhir commented on #50
I think it might be a cool separate plot, with time on the x-axis and a cumulative area chart with "tests" on the y filled with "positive" and "negative". This would illustrate our targeted testing quite well. Ideal data format would be:

| date             | result      | amount |
|----------------|-------------|-----------|
| 2020-04-02 |  positive | 2300 |

(made-up number)

[2020-04-02 14:13] japhir commented on #50
I don't quite understand this. Misschien in het Nederlands? ;-).

[2020-04-02 16:23] PanderMusubi commented on #50
Van hoog naar laag gerapporteerd zou er te zien zijn:
- aantal tests
- aantal besmettingen
- aantal hospitalisaties
- aantal overleden personen

[2020-04-02 22:33] J535D165 commented on #48
Thanks for your first draft. I made some changes to automate the reverse engineering.

![map](https://user-images.githubusercontent.com/12981139/78305711-e693ee80-7541-11ea-9a78-627105b5a7c7.png)

The first results look promising. We need some more checks on whether the centroids are in the correct polygon. I made a correction for Heerenveen and Rotterdam. Any more? I will merge this into a datase

[2020-04-05 10:43] dstotijn opened #54 "Trailing space char in `rivm_corona_in_nl_hosp.csv` for 2020-04-03 amount"
On https://github.com/J535D165/CoronaWatchNL/blob/3d5af4d47ef6354b82e211f0e4fe47694bd49449/data/rivm_corona_in_nl_hosp.csv#L24, there's a trailing space character after the amount, e.g. `6286 ` instead of `6286`.

[2020-04-05 18:02] J535D165 commented on #54
Good catch. Resolved.

[2020-04-05 18:02] #54 closed

[2020-04-05 18:35] #48 closed

[2020-04-06 07:57] lkleuver commented on #44
@J535D165 ik heb je vorige week een mail gestuurd, is deze goed aangekomen?
Sorry dat ik via die kanaal vraag maar voelt alsof het in de spam is gekomen.
[plz delete]

[2020-04-07 10:16] japhir commented on #50
I would like to add this but can't find the data on the number of tests that were conducted anywhere.

[2020-04-07 10:24] vmenger commented on #50
Here is some data available:

https://www.rivm.nl/coronavirus-covid-19/informatie-voor-professionals/virologische-dagstaten

Perhaps there is more in the pdf reports?

See also:

https://twitter.com/jessefrederik/status/1247053915247579138

[2020-04-07 10:26] vmenger commented on #37
Can this be closed or is it still work in progress? @J535D165

[2020-04-07 10:38] vmenger commented on #48
@J535D165 Thanks for finishing this. Some other things got in between. I previously identified some strangely shaped municipalities but they all seem to match on your map. I'll include them below for completeness:

Heerenveen
Berg en Dal
Rotterdam
Urk
Bloemendaal
Borne
Twenterand
Vlissingen
Diemen
Eersel
IJsselstein

[2020-04-07 13:55] J535D165 commented on #50
This info can be found in the PDF documents. I was working on extracting the tables from the pdf. But they have 3 versions of this report. Every day, the use another... My regular expressions are not robust enough at the moment.

On the website of RIVM are now new graphs WITH data available. I do expect more data will become available in the upcoming days.

This project.....

[2020-04-08 07:41] JJKuijvenhoven commented on #49
Dankzij de data die o.a. hier is gepubliceerd heb ik een website via Power BI kunnen genereren die zowel informatie van NL als wereldwijd visualiseert. Mijn dank is groot hiervoor!

https://app.powerbi.com/view?r=eyJrIjoiMmM0NGQyMTctYWM3Ni00MmI3LTkwY2QtZDYzYTc3ZjM1MDk5IiwidCI6ImVhZTFhNWZlLWZlYTktNGQ3Yy1iMmM2LTkwMjE1NTdlODYwOCIsImMiOjl9&refresh=1

[2020-04-08 08:57] japhir commented on #49
Heel vet gemaakt @JJKuijvenhoven! :+1:

[2020-04-08 12:18] J535D165 commented on #44
Hi all. RIVM made the disease counts available again. It will take some time to integrate this again in the repository. I will add it to the raw_data folder first.

[2020-04-08 12:53] J535D165 opened #57 "Reactivate dataset rivm_corona_in_nl.csv"
There is data on COVID-19 case counts on the municipality level available again. We can reactivate https://github.com/J535D165/CoronaWatchNL/blob/master/data/rivm_corona_in_nl.csv. See issue #44. I'm not sure whether this was by mistake or something they will provide on a daily basis. See https://github.com/J535D165/CoronaWatchNL/blob/master/raw_data/peildatum-08-04-2020-13-55.csv

[2020-04-08 13:07] J535D165 opened #58 "Contact with RIVM"
Hi all,

First of all, thank you all for contributing to this repository. It is a challenge to keep up-to-date with all the daily changes on the RIVM website. Without your contributions, it isn't possible to keep this up-to-date and add new datasets.

There are quite some questions regarding our contacts with RIVM and our offer to help them set up a proper data repository. We, CoronaWatchNL and Ut

[2020-04-08 13:12] J535D165 opened #59 "Create overview page with dashboards/website using CoronaWatchNL data"
Thank you all for sending us emails with dashboards, visualizations, and gifs made with CoronaWatchNL data. We love to see them.

At the moment, we are receiving a lot of emails on this and are having a hard time answering these emails. It might be an idea to make a separate page with an overview of these initiatives. (And integrate the Interesting links section of the README. Is there anyone inte

[2020-04-08 13:15] J535D165 commented on #49
It would be great to showcase this project on our page. See #59. Interested in a PR @JJKuijvenhoven to set this up and add your page?

[2020-04-08 15:54] GlobalConservationist commented on #49
Ikzelf genereerde meer timeline visualisaties zoals deze, om een beter idee te krijgen over de spreiding over tijd en ruimte:
![TotalPer1_2020-03-30](https://user-images.githubusercontent.com/15684804/78805497-62b28a00-79b9-11ea-9721-0fe4c97416c5.gif)

Lastig toen RIVM besloot anders te gaan rapporteren, maar ik zie dat de meldingen per gemeente vandaag weer in de data staan.

[2020-04-08 15:55] GlobalConservationist commented on #57
Great!

[2020-04-09 21:39] tdamsma opened #60 "Include data with reporting lag per province"
The RIVM reports nicely show the data that is added per day, to make it clear that there is a significant lag in the reporting. However I did not find the source data published anywhere, a set that shows the reported cases/deaths/hospitalizations per reporting date and per date.

I took the liberty of extracting the data from the pdf reports. Data is [here](https://github.com/tdamsma/CoronaWatchNL

[2020-04-10 18:45] J535D165 commented on #60
Nice, very nice.

A stunning piece of reverse engineering... We are very happy to integrate the dataset in this repository. The source isn't available. The only thing I'm missing is the png extraction. How did you do this?

About the data storage, I think this type of data can be stored in this format: https://github.com/pcm-dpc/COVID-19/tree/master/dati-province. But, for now, your format is fine

[2020-04-10 19:07] tdamsma commented on #60
All the code is available in github,in a few notebooks. See [this one](https://github.com/tdamsma/CoronaWatchNL/blob/plot-data-extraction/plot_data_extraction/notebooks/hospitalizations_extract_from_plots.ipynb) for the data extraction

[2020-04-10 20:00] J535D165 commented on #60
Thanks @tdamsma. Am I correct that this notebook requires PNG files as input? What did you do to extract the PNG's from the PDF?

(Hopefully, I'm not overlooking ;) )

[2020-04-10 20:08] tdamsma commented on #60
Yep, unfortunately it does. I took screengrabs with Adobe acrobat at the maximum resolution. Also the scale factor from pixels to values is manually measured in mspaint. It's not pretty, but it works

[2020-04-11 06:08] mvanreek commented on #57
I have checked the RIVM csv files these days, and it is "In het ziekenhuis opgenomen COVID-19 patiënten", so hospitalizations, not positive-tested cases, so the file of 8/4 was probably a mistake. But as it seems they still track this data, why don't they just publish this data as a 2nd CSV file...

[2020-04-11 07:25] J535D165 commented on #57
@mvanreek The data is available for 8-9-10. We aren't expecting changes over the weekend. So I made a new dataset with this data: https://github.com/J535D165/CoronaWatchNL/blob/master/data/rivm_NL_covid19_total_municipality.csv

One remark, I have to add the missing values.

[2020-04-11 11:13] Sikerdebaard commented on #58
First of all: thanks for doing the work.

Just dropping a message to let you know you are not alone in this. We are trying to get this data at Erasmus MC as well. Getting that data out in a machine readable format seems to be rather difficult. Not sure why.

What's more disturbing though is that Stichting NICE is becoming more unfriendly towards the general public. They are now blocking requests f

[2020-04-11 12:46] J535D165 commented on #58
Our offer to help them will be discussed this week.

In the meanwhile, it is important not to hammer the servers. There is no need for that if we team up in data collection projects. It reduces the workload on their side as well as our own workload. If we can join efforts, let me know.

[2020-04-11 13:02] Sikerdebaard commented on #58
Cool, thanks. Please let them know we have a static website solution at the ready to mirror their public charts. We have reached out to them regarding this before, but they aren't taking it serious. The advantage of that specific solution is that once you put a CDN in front of it it scales extremely well.

[2020-04-13 09:34] BasSchnater opened #62 "Missing daterange rivm_NL_covid19_total_municipality.csv"
Hi Jonathan,

First of all: fantastic effort by pulling all of this together. It helps many people from many industries (like mine: publishing) to make the data accessible.

Question about rivm_NL_covid19_total_municipality.csv: the dataset seems to be jumping from 31-mrt to 8-apr. Do you know a way how to get the missing data available? I tried to copy/paste from different dataset but there alway

[2020-04-13 09:36] BasSchnater opened #63 "Importing error Python"
Hi all,

When I try to import the data into Python with Pandas, I keep hitting the same error:

Any suggestions how I can by pass this? Might be an easy question to answer but I haven't been able to find a solution that actually works :(

[2020-04-13 09:54] BasSchnater commented on #63
Solved the issue myself: wasn't using the raw.githubusercontent link

[2020-04-13 09:54] #63 closed

[2020-04-13 11:34] J535D165 commented on #62
This part of the data isn't available on the municipality level because RIVM didn't publish it. For a couple of days, RIVM publishes this part of the data again. Unfortunately, this breaks the time series. We are in contact with RIVM about this issue. See #44.

Alternatives:
 - Number of hospitalized patients: https://github.com/J535D165/CoronaWatchNL/blob/master/data/rivm_NL_covid19_hosp_municipa

[2020-04-13 11:34] #62 closed

[2020-04-13 11:36] J535D165 commented on #63
Thanks @BasSchnater, I think you aren't the first one struggling with this. I will add some notes to the README.md on this.

[2020-04-13 14:52] jordy-u commented on #49
@J535D165 Thank you very much for the effort you've put in this project.

A classmate and I use your data for a school project. We are making a website on which people can scroll through time to see the spreading of the virus. You can see it at https://covid19.jordyu.nl (temporary domain name). It's still a work in progress (even though it has to be officially finished by thursday), so it's nothin

[2020-04-15 11:25] Jeroenr1 opened #65 "Another attempt at animating new cases / help with collecting data?"
Hi there,
i created https://corona-map-nl.web.app/
I've separated the new hospital intakes and the new cases, it looks a bit like what you guys made.
You can also click on a municipality for historic data.
And if you click on the country icon you see a complete history nationally.

I've also got quite a lot of more structured data by parsing the RIVM javascript, that way i don't have to deal with

[2020-04-15 14:37] J535D165 commented on #65
Nice app! We would love to list it on our page :)

Can you clarify what else you collected from RIVM?
And I'm curious what data you collect from LCPS.

yup...

Our NICE pipeline broke, so if you do have a nice workflow for this, please share or let me know.

Best Jonathan

[2020-04-15 15:19] japhir commented on #65
Nice.

[2020-04-15 16:00] Jeroenr1 commented on #65
Sure, no problem.
It's running on the Firebase Hosting CDN, so it should always be online.
I try to update the data somewhere around 14:30 and again later for the LCPS info.

I'm pretty sure you also process the .js files from RIVM, when i wrote that i thought you somehow processed the PDF files.

I use puppeteer to render the full html and extract the LCPS info per day.
The result is this:
Date,n

[2020-04-16 06:13] J535D165 commented on #65
Thanks for this answer.

Yes, we do. There are a couple of scripts available in this repo. But the structure of the PDF's is very poor, so a lot of manual editing is required... Feel free to extract the data from this repo. It saves you a lot of time.

NICE would be great. I will add LCPS asap.

I think we are missing March 23rd and 24th. Can you share them?

Thanks a lot for your help in improvin

[2020-04-16 07:07] wouterbeek opened #67 "Broken link on homepage"
The following link does not work ATM: <https://github.com/J535D165/CoronaWatchNL/blob/master/data/rivm_NL_covid19_national_by_date.csv>  If I click on it I get a 404.

It appears in the datasets table on the repository homepage with the name "COVID-19 case counts by date in NL (NEW)"

[2020-04-16 07:40] J535D165 commented on #67
Thanks for reporting. The problem is now resolved. Use the suffix 'latest' for the most recent version.

[2020-04-16 07:40] #67 closed

[2020-04-16 08:00] wouterbeek opened #69 "Amsterdam and Eindhoven always have the same number of infected"
In <https://raw.githubusercontent.com/J535D165/CoronaWatchNL/master/data/rivm_NL_covid19_municipality_range.csv> the number of infections for Amsterdam and Eindhoven is always the same.  Even though these numbers are reported in ranges, this still seems a bit suspicious.

These are the rows for the last couple of days, the values in the last two columns are always the same:

[code]

[2020-04-16 08:03] wouterbeek opened #70 "How to interpret the number of hospitalizations?"
The maps for hospitalizations and infections look very different.  With hospitalizations the big cities light up:

![Screenshot from 2020-04-16 09-21-07](https://user-images.githubusercontent.com/1685012/79430460-3efacf80-7fc9-11ea-846a-59809a982a50.png)

With infections the areas where Corona is most widespread ATM light up:

![Screenshot from 2020-04-16 09-21-15](https://user-images.githubuserco

[2020-04-16 09:51] 4tikhonov commented on #70
Hi @wouterbeek, it looks great! Is it in your Linked Data infrastructure already?

[2020-04-16 11:16] Jeroenr1 commented on #65
I meant that i use .js files to parse the data they show in the graphs. For a couple of days i used Tabula to parse the PDF files, but that was too cumbersome. After that they published the graphs and those contained the data i needed, so i stopped using the PDF files.

I've setup a script that will publish the NICE json files at https://corona-map-nl-archive.web.app/
It runs at 13:50 CEST.
If you

[2020-04-16 12:06] J535D165 commented on #69
Hmmm. I will have a look at the PDF files. Did you have a look at the PDFs files? Any findings?

[2020-04-16 12:45] RVoor commented on #69
We had a look at the RIVM reports of that specific period (2020/04/07 - 2020/04/15), and (luckily) the similar ranges do check out. Even though Eindhoven and Amsterdam have varying absolute numbers (https://github.com/J535D165/CoronaWatchNL/blob/master/data/rivm_NL_covid19_total_municipality.csv), they have similar relative numbers (incidents per 100.000 inhabitants) and, thus, similar ranges. For

[2020-04-16 13:18] J535D165 commented on #70
The location is the municipality of residence of the (hospitalized) patient according to RIVM. So you are right that there isn't a bias for hospital locations in NL.

Variables you can into account: the average age in the municipality of residence and the number of residents per municipality (dividing hospitalizations by the number of residents might be tricky for small towns).

I think this isn't

[2020-04-16 13:21] #44 closed

[2020-04-16 13:21] #11 closed

[2020-04-16 13:50] wouterbeek commented on #70
@4tikhonov Yes, these are 'just' SPARQL queries over at <https://labs.kadaster.nl/stories/covid-19/>.

@J535D165 Yes indeed, we would like to have a good definition for each metric.  (Something we can add into the Linked Data schema to make the data self-desctiptive.)

[2020-04-17 07:33] J535D165 commented on #70
Hi @wouterbeek, We would love to work on this. What format do you prefer?

[2020-04-17 07:54] wouterbeek commented on #70
@J535D165 A textual description would be sufficient.  We can copy/paste it into the Linked Data.

This is the identifier for hospitalizations: <https://data.labs.kadaster.nl/rivm/covid-19/vocab/hospitalizations>

![Screenshot from 2020-04-17 09-49-03](https://user-images.githubusercontent.com/1685012/79545312-c19a9200-8090-11ea-950f-d2d2dd1e3a7e.png)

In line with LD best practices, following the

[2020-04-17 12:18] J535D165 commented on #70
Thanks. It might be a good idea to store the vocabulary here. I will start working on descriptions of the metrics and dimensions. I will keep you informed. Hopefully, you can help us with making this machine-readable.

[2020-04-17 12:32] 4tikhonov commented on #70
@J535D165, can you please use the same codebook as Spanish and Italians?
https://github.com/datadista/datasets/tree/master/COVID%2019
https://github.com/pcm-dpc/COVID-19

It's very difficult to analyze data worldwide if it's not properly standardized.

[2020-04-17 15:04] jpvandervelden commented on #59
Is somebody already working on this issue?

[2020-04-17 15:48] elvissey1984 opened #72 "Intensive Care data from NICE"
First of all thank you so much for the efforts! It was the best efforts on getting all the numbers together I saw and thank you for that.

Regarding the IC data from NICE... understand you said it was experimental but I noticed that it has stopped updating for 4 days. What's the plan on this? Is there temporary issues on getting the data, or is this dataset being deprecated?

thanks!

[2020-04-18 09:03] J535D165 commented on #72
NICE changed a couple of things. Unfortunately, there was no time to work on this during the week. Today I will post the updated dataset (Struggling with one column).

There is a lot more in this dataset, so I'm working on some scripts to extract this as well. When this is done, I will remove the experimental flag.

Sorry for the inconvenience.

[2020-04-18 09:04] J535D165 commented on #59
Hi @jpvandervelden, nope :( Interested?

[2020-04-18 09:11] jpvandervelden commented on #59
Are you thinking about dashboards in the form of markdown pages? Like
national, regional?

On Sat, Apr 18, 2020 at 11:04 AM Jonathan de Bruin <notifications@github.com>
wrote:

[2020-04-18 09:25] elvissey1984 commented on #72
Thank you for the help! Looking forward this the new dataset.

A related question: I saw you have IC data from another source and the reading is quite different - how would you read into this? Which one would you think is more trustworthy/accurate?

[2020-04-18 12:49] J535D165 opened #73 "New dataset with fatalities on municipality levels"
There is a new dataset with fatalities on municipality level. Please see https://github.com/J535D165/CoronaWatchNL/blob/master/data/rivm_NL_covid19_fatalities_municipality.csv

[2020-04-18 22:12] janvanmastbergen commented on #72
I noticed that the new-intake data set from the nice site is the only one to contain 2 series instead of 1 as do the others. Both series show the same date range as any other but the values differ significantly. How di I read this?

KR, Jan van Mastbergen

[2020-04-19 11:32] J535D165 commented on #72
@elvissey1984 The one of LCPS is very useful because it gives an accurate overview. It is updated once a day. NICE has more variables and is updated multiple times a day. The latter one is something you have to keep in mind for some applications.

@janvanmastbergen First col is the actual number. The second is the number of patients not tested yet, but highly likely affected by the virus. Therefor

[2020-04-19 11:36] #72 closed

[2020-04-19 19:07] patrborn opened #75 "Double municipality records for the date 2020-04-17 and 2020-04-18"
Something went wrong in making the following data files:
- rivm_NL_covid19_total_municipality.csv
- rivm_NL_covid19_hosp_municipality.csv

There are double municipality records for the date 2020-04-17 and 2020-04-18.

[2020-04-19 19:14] patrborn commented on #75
Also for file rivm_NL_covid19_fatalities_municipality.csv for date 2020-04-18.

[2020-04-19 21:22] J535D165 commented on #75
Sorry :( Fixed. Thanks for reporting.

I need to develop some test tools.

[2020-04-19 21:22] #75 closed

[2020-04-19 21:23] #73 closed

[2020-04-20 06:58] ErikEngerd opened #76 "difference lcps and nice data"
Does anyone know what the difference is between the intakeCount in the nice dataset and the number of cases in the lcps dataset? In the media they use the lcps data and say it is the number of corona patients in the icu. The Rivm daily epidemiological report  calls it the confirmed covid-19 cases. Does this mean that the lcps data also includes suspected cases?

[2020-04-20 07:08] #69 closed

[2020-04-20 08:26] RVoor commented on #76
I don't know that much about the lcps data, but I know the NICE IntakeCount represents "the number of suspected and proven COVID-19 cases present on the IC per day (see https://www.stichting-nice.nl/ for more information, figures, and detailed notes). This only regards the already present patients, and not the newly submitted patients per day. From the introduction of the epidemiological report (s

[2020-04-20 08:27] RVoor commented on #76
I don't know that much about the lcps data, but I know the NICE IntakeCount represents "the number of suspected and proven COVID-19 cases present on the IC per day" (see https://www.stichting-nice.nl/ for more information, figures, and detailed notes). This only regards the already present patients, and not the newly submitted patients per day. From the introduction of the epidemiological report (

[2020-04-20 08:54] J535D165 commented on #50
Thanks for reporting. This was implemented last week.

[2020-04-20 08:54] #50 closed

[2020-04-20 08:56] #12 closed

[2020-04-21 10:51] #65 closed

[2020-04-21 11:44] justb4 opened #77 "Provide Geocoded data"
Compliments with this project!

For many applications that produce maps and/or apply spatial analysis, geocoded COVID-19 data (data with coordinate attributes/columns) would be very helpful. This sounds more complex than it actually is:

* many of the produced data CSVs here, have columns like Municipality (Gemeente)/Province code and or name
* the Dutch government via Kadaster-PDOK provides Open

[2020-04-21 15:57] J535D165 commented on #58
Update.

RIVM is planning to make a well-structured dataset openly available. RIVM states that they aren't the owner of the data and have to ask permission to publish the data. They expect these issues to be solved anytime soon.

They consider the use of their open data platform https://statline.rivm.nl/. This platform is an implementation of [CBS Statline](https://opendata.cbs.nl/statline/#/CBS/n

[2020-04-22 07:52] Sikerdebaard opened #79 "Our website uses data from CoronaWatchNL"
For our website (covid-analytics.nl) RIVM and LCPS data trough CoronaWatchNL is used. How would you like me to reference to CoronaWatchNL? Currently all charts that use RIVM and LCPS data trough CoronaWatchNL point to RIVM and LCPS directly. Would a mention in the charts explanation page or in some sort of about us page be acceptable?

[2020-04-22 08:43] J535D165 commented on #79
We are working on an overview of applications using our data.  We are happy to add your informative site over there. Thanks for sharing!

Our work is CoronaWatch is CC0, which means that you don't have to refer to us. Nevertheless, it would be nice to have a reference somewhere. But this us to you.

@RVoor

[2020-04-23 12:39] Jeroenr1 commented on #76
Not sure if this is still relevant, but i just noticed the following text on the NICE site:

Loosely translated this means that NICE is the official known number and in time the most accurate number.
LCPS tries to guesstimate the most accurate number at the time of publication.

[2020-04-23 14:15] JJKuijvenhoven opened #81 "Province data - NH too high confirmed cases?"
Yesterday Noord-Holland reported 5140 confirmed cases, however today I identify 7459 cases. I think probably something went wrong with data extraction?

[2020-04-23 14:22] JJKuijvenhoven commented on #49
I totally missed your comment @J535D165 , my apology. I am not sure how to accomplish this, but I only know that you can put the following code in a webpage, it is a Iframe, in which you embed the report:

`<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMmM0NGQyMTctYWM3Ni00MmI3LTkwY2QtZDYzYTc3ZjM1MDk5IiwidCI6ImVhZTFhNWZlLWZlYTktNGQ3Yy1iMmM2LTkwMjE1NTdlODYwOCIsImMiOjl9

[2020-04-23 15:05] J535D165 commented on #81
Hi @JJKuijvenhoven, thanks for reporting. It was a mistake and is corrected in the latest commit.

Best, Jonathan

[2020-04-23 15:06] #81 closed

[2020-04-23 17:57] herryklumper commented on #58
Is the corona data already available or is it just an example? I cannot find any

[2020-04-23 19:11] J535D165 commented on #79
https://github.com/J535D165/CoronaWatchNL/tree/master/applications

[2020-04-24 18:07] ErikEngerd commented on #76
that is indeed what I also read a few days ago. The numbers reported by lcps are significantly higher than those by nice (even when it concerns data from a number of days ago). It is important to know that the media are reporting the lcps data and not those by nice.

On 23 April 2020 14:39:35 CEST, Jeroen Rakhorst <notifications@github.com> wrote:

Erik Brakkee

[2020-04-26 13:34] elvissey1984 opened #86 "test data not updated"
I noticed that test data is last updated on the 20th and have not been updated since then. Also noticed that the format in the pdf was slightly changed to weekly so not sure if this was the cause but might be related. Thanks!

[2020-04-28 14:06] JJKuijvenhoven opened #89 "rivm_corona_in_nl_fatalities.csv double 27th April data"
Hi,

rivm_corona_in_nl_fatalities.csv data contains two values of data for 27th of April. I guess the last row should contain 28th April data.

Best regards

[2020-04-28 14:17] JJKuijvenhoven opened #90 "Data missing in rivm_NL_covid19_hosp_municipality.csv and rivm_NL_covid19_total_municipality.csv?"
Hi,

Before in 'rivm_NL_covid19_hosp_municipality.csv' and 'rivm_NL_covid19_total_municipality.csv' data for unknown municipalities/provinces was reported with a blank row.

For example:
Datum,Gemeentecode,Gemeentenaam,Provincienaam,Provinciecode,Aantal
2020-04-16,-1,,,,431

I identified that in the extract of today (28 April) that this is not reported anymore for both tables.
Datum,Gemeentecode,G

[2020-04-28 14:20] Rogiervanweert commented on #89
Yep i saw the same problem!

[2020-04-28 18:39] patrborn commented on #89
It applies for the following files:
rivm_corona_in_nl_daily.csv
rivm_corona_in_nl_fatalities.csv
rivm_corona_in_nl_hosp.csv
rivm_NL_covid19_national.csv

[2020-04-28 20:31] J535D165 commented on #89
I'm so sorry. I made a fix. I really need to add more tests and automation...

Please note that rivm_NL_covid19_national.csv is the main source and the other 3 files are pending deprecation.

[2020-04-28 20:31] #89 closed

[2020-04-28 20:45] J535D165 commented on #90
Thanks for keeping me awake. This was also a side effect of your other reported issue.

I made a couple of changes on these datasets last weekend:

- every day has values for all municipalities. Not only for non-zero counts.
- computing the missing values is now based on the national counts (this wasn't done before and therefore missing values were not reported in some cases).

You might be intere

[2020-04-28 20:45] #90 closed

[2020-04-29 14:22] mirix opened #92 "Deaths per province"
Hello,

I have a question regarding the following file:

https://github.com/J535D165/CoronaWatchNL/blob/master/data/rivm_NL_covid19_fatalities_municipality.csv

It starts on April 18th, is it possible to find earlier data?

I am doing this:

https://sentidinho.eu/sentidinho/wp-content/uploads/galiciaincoronavirusland/NUTS2_in_coronavirusland.html

Best regards,

Ed

[2020-04-29 16:21] mirix commented on #92
Never mind. Sorry, I have realised it is cumulative data. It is alright. Thank you.

[2020-04-29 19:57] J535D165 commented on #58
According to RIVM, they will publish (more) structured data tomorrow. It was planned for today but was delayed due to some technical problems/challenges.

[2020-04-30 07:29] #57 closed

[2020-04-30 08:54] RVoor commented on #76
It's true that the numbers of reported by LCPS are consistently higher than the ones reported by NICE. Even though the LCPS's 'Aantal' describes the same als NICE's 'intakeCount' (i.e., number of (suspected) COVID-19 cases present on the IC per day), the LCPS also includes Dutch cases hospitalized in Germany while NICE only reports Dutch cases hospitalized in the Netherlands. This might explain th

[2020-04-30 11:48] J535D165 commented on #92
Unfortunately, the data wasn't available on the municipality level before this date. There is an option to digitalize this for data on the provincial level, but this is work in progress (based on the PDF's).

[2020-04-30 11:48] #92 closed

[2020-04-30 13:18] herryklumper commented on #58
Hallo Jonathan,

Can you please explain where I can find the RIVM data on GitHub?
Or are you referring to the CSV on their own site?

Would it be possible through your contacts there to persuade them to create a robust repository on GitHub?

Thanks you
,

[2020-05-02 13:50] J535D165 commented on #58
RIVM published a structured dataset with the case counts per municipality. The publication and metadata can be found here: https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/1c0fcd57-1102-4620-9cfa-441e93ea5604. This is the JSON API URL: https://data.rivm.nl/covid-19/COVID-19_aantallen_gemeente_cumulatief.json.

The dataset receives updates at 4 PM. We asked them to publish this at 2

[2020-05-02 22:08] herryklumper commented on #58
Thank you. Happy that is under attention.

Met vriendelijke groet,
Herry Klumper
+31653428655

[2020-05-03 12:38] Sikerdebaard opened #96 "Cumulative data not always cumulative"
It seems that data that should be cumulative is not always cumulative. Is there a reason behind this?

E.g. the following script checks if values are cumulative for the ```data-geo/data-municipal/RIVM_NL_municipal.csv``` dataset.

[code]

Currently the script produces around 136 violations that look like this. Some of these could perhaps be fixed with a df.fillna(method='ffill') to forward-fill th

[2020-05-03 13:19] J535D165 commented on #96
Thanks again @Sikerdebaard.

These are data corrections by RIVM I think. Consider the municipality of Brummen
[code]

Check the raw data:

https://github.com/J535D165/CoronaWatchNL/blob/bb97e3b4d4c95f8299eea7e17e419bb6663344fd/raw_data/peildatum-29-04-2020-14-00.csv#L55
https://github.com/J535D165/CoronaWatchNL/blob/bb97e3b4d4c95f8299eea7e17e419bb6663344fd/raw_data/peildatum-30-04-2020-14-00.csv#L

[2020-05-03 13:47] Sikerdebaard commented on #96
Ah yes, this indeed seems to be the case. Would it be reasonable to add a warning for the affected datasets?

[2020-05-03 15:24] Sikerdebaard commented on #96
In case you guys ever change your mind, here's a script I'm using to correct the data. This script will first ffill any nan-values where possible. It then makes sure that any new values that are lower than the previous values propogate backwards. This seems reasonable for now.

[code]

[2020-05-03 19:07] J535D165 commented on #96
Thanks for the script. Very useful to many of us.

Correcting introduces a new problem to some users because the totals don't add up. I'm thinking about an additional column with remarks. The moment a correction is observed, we add a note to the row. The note can link to this issue and your code. Would this help?

[2020-05-04 17:28] ty525 opened #100 "Data mismatch in rivm_NL_covid19_province.csv"
I see huge differences when comparing the data of 2020-05-03 and 2020-05-04. It looks like the updated numbers were mapped to the wrong provinces.

For example:

| - | - | -
-- | -- | --
2020-05-03 | Noord-Brabant | 8404
2020-05-04 | Noord-Brabant | 2912

![image](https://user-images.githubusercontent.com/13071306/80994632-ca5dc880-8df1-11ea-830d-d882291f17e5.png)

[2020-05-05 09:50] japhir commented on #59
Pull request #80 fixes this, so I'm closing the issue.

[2020-05-05 09:50] #59 closed

[2020-05-05 09:50] #37 closed

[2020-05-05 09:51] japhir commented on #5
Has this been fixed? Should this behaviour be documented @J535D165?

[2020-05-05 09:55] japhir commented on #33
This should probably be added to the [provincial](https://github.com/J535D165/CoronaWatchNL/tree/master/data-geo#provincial) and [municipal](https://github.com/J535D165/CoronaWatchNL/tree/master/data-geo#municipal) sections of the [data-geo workbook](https://github.com/J535D165/CoronaWatchNL/tree/master/data-geo), right?

[2020-05-05 09:59] japhir commented on #49
You can create a pull request to add a screenshot of your website with the url to be added to https://github.com/J535D165/CoronaWatchNL/tree/master/applications. Closing this issue.

[2020-05-05 09:59] #49 closed

[2020-05-05 10:02] japhir commented on #70
I think this has been implemented now @4tikhonov, right? Closing the issue. Feel free to re-open if I misunderstood.

[2020-05-05 10:02] #70 closed

[2020-05-05 10:03] japhir commented on #76
Looks like the question has been addressed here. Should this distinction be added somewhere in the documentation? If so, feel free to create a PR. Closing this for now.

[2020-05-05 10:03] #76 closed

[2020-05-05 10:04] J535D165 commented on #100
Resolved. The format of the PDF's is changing every day at the moment. It would be nice to have a test for this.

[2020-05-05 10:04] #100 closed

[2020-05-05 10:10] J535D165 commented on #5
Yes, this is resolved by ignoring the reported counts and derive them from the national case count and the sum of all municipalities.

About reconstructing the data of March 2, I don't think this is doable. I asked RIVM for a backfill, but I don't think this is about the happen. So let's close this issue. Drop a message if you think we should reopen this issue.

[2020-05-05 10:10] #5 closed

[2020-05-05 10:11] J535D165 commented on #33
@RVoor can you work on this?

[2020-05-05 10:32] ErikEngerd commented on #76
I think it is always a good idea to document what the data means and how it was obtained.

On 5 May 2020 12:04:03 CEST, Ilja Kocken <notifications@github.com> wrote:

Erik Brakkee

[2020-05-05 12:27] J535D165 commented on #76
Agree. We are welcoming PR's on this.

[2020-05-05 12:42] J535D165 opened #101 "Extend govermental measure data"
We do have a dataset with governmental measures. It turns out that there is a dataset by the EU with those measures https://jrc-covid.azurewebsites.net/. It might be useful to use their dataset. It seems to be of high quality.

This is an overview of the history: https://jrc-covid.azurewebsites.net/api/Measure/GetHistory/NLD
This is an overview of the current measures: https://jrc-covid.azurewebsi

[2020-05-05 16:13] Sikerdebaard commented on #96
This would certainly help. :)

[2020-05-06 07:52] RVoor commented on #33
Good point! I've added a footnote in the data-geo codebook.

[2020-05-08 08:20] #101 closed

[2020-05-08 21:03] J535D165 commented on #77
RIVM is now providing a part of its data as geocoded data https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/1c0fcd57-1102-4620-9cfa-441e93ea5604

[2020-05-09 10:09] justb4 commented on #77
Yes, very much aware of this activity. Some from our Open Source geo-community are involved and the services are evolving.

Still some work (for RIVM) to do:

1) it is indeed part of the data (aantallen_gemeente_cumulatief).
2) the JSON files are not GeoJSON, i.e. spatially enabled.
3) the geospatial data is a single layer (`aantallen_gemeente_cumulatief`) via WFS

But ok, that same table CSV-data

[2020-05-09 11:58] J535D165 commented on #77
To be honest, I'm disappointed about the geocoding stuff RIVM worked on this week. Time is tight for RIVM at the moment. We all know and accept I think/hope. The geocoding work doesn't add anything new. We can convert the data into GeoJSON ourselves, isn't it? Shapefiles are there, cumulative numbers are there... simply join the two files and we do have these geocoded files. Like many of us did fo

[2020-05-10 18:28] justb4 commented on #77
@J535D165 I share your sentiment. The current offering from RIVM is half-baked, hidden among many other datasets. They have put something out quickly. Hopefully work-in-progress. Also on other aspects of the current crisis there is a need to bring together experts that build transparent/Open Source solutions. Simplest would be if RIVM/government put together teams with people like you/your team an

[2020-05-10 22:33] 4tikhonov commented on #77
Hi @J535D165 and @justb4, can we help with Geocoded data somehow?
We have more than 1k people in our [community](https://github.com/CoronaWhy) and public [Cloud infrastructure](https://github.com/CoronaWhy/covid-19-infrastructure) for heavy computations. I'm pretty sure we can find some people interested in this task.

[2020-05-12 13:06] elvissey1984 commented on #86
I see this issue is not tackled... any plan on this? Thanks! @

[2020-05-12 13:06] #86 closed

[2020-05-19 12:47] dominix88 opened #116 "Provincial data consistency"
Thanks for this great resource!

The provincial data (RIVM_NL_provincial.csv) is not consistently reported. Until March 30, the data has information on "Totaal" only. It switches to "Ziekenhuisopname" from Match 31 onwards. Is this a break in the reporting? Or an error? Would be great to explain this in the codebook.

Thanks and best wishes

[2020-05-22 17:02] J535D165 commented on #44
Finally, the data is there (almost complete...). Check out https://github.com/J535D165/CoronaWatchNL/pull/119

[2020-05-28 18:30] owahltinez opened #122 "License"
First, thank you so much for the great work that is being done in this repo.

I have a question about the license of this repo. You say that "The graphs and data are licensed CC0." but the link to CC0 is to general information about the license. Can you please provide a copy of the license applicable to this repo or, alternatively, add a LICENSE file to clear our any potential misunderstanding?

[2020-06-08 09:48] Sikerdebaard opened #125 "new datasource - https://coronadashboard.rijksoverheid.nl/"
This datasource might be interesting to add to CoronaWatchNL. Its the corona dashboard from the government. I think it is mostly interesting because it contains data around care-homes but also data regarding the reproduction number.

Unfortunately I don't have time to send in a PR for this at the moment.

It looks like the national data is encapsulated in a json:
https://coronadashboard.rijksoverh

[2020-06-08 10:04] J535D165 commented on #125
Thanks, my colleague is working on this! https://github.com/J535D165/CoronaWatchNL/pull/124. We are happy to integrate more sources.

Thanks for pointing out @Sikerdebaard

[2020-06-08 12:49] J535D165 commented on #125
We added 3 datasets. What sources are you interested in?

[2020-06-08 12:49] #125 closed

[2020-06-10 14:12] geek80 opened #129 "Dataset in CoronaWhy Dataverse"
Hello,Your dataset was added to CoronaWhy (https://www.coronawhy.org/) Data Lake on Dataverse  as a piece of common COVID-19 dataframe http://datasets.coronawhy.org/dataset.xhtml?persistentId=doi:10.5072/FK2/ESIRVQ

Would you be willing to help with maintenance of your dataset in Dataverse, e.g. adding the relevant metadata and keeping the dataset up-to-date? That will help to make the dataset fin

[2020-06-15 10:21] Prikkel opened #131 "Hospitalizations municipalities to zero"
Hi,

I've noticed that for some municipalities, the latest data refresh (14-06-2020) has caused the amount of hospitalizations to drop to zero.

Is this something that can still be fixed?

Kind regards,

Thomas

[2020-06-15 10:23] J535D165 commented on #131
We will have a look at this. Do you have an example?

Sorry for the inconvenience.

[2020-06-15 10:26] Prikkel commented on #131
Hi Jonathan,

Thank you for the quick reply!

Two examples would be:
2020-06-13,402,Hilversum,Noord-Holland,27,31
2020-06-14,402,Hilversum,Noord-Holland,27,0

2020-06-13,546,Leiden,Zuid-Holland,28,39
2020-06-14,546,Leiden,Zuid-Holland,28,0

Kind regards,

Thomas

[2020-06-15 11:42] J535D165 commented on #131
Somehow, half of the dataset published yesterday. Luckily, your issue was in time, the full dataset is published and embedded in this repository now.

[2020-06-15 11:42] #131 closed

[2020-06-16 15:22] J535D165 opened #133 "Data representation changes by RIVM June 16, 2020"
Hi all,

There are plenty of changes to the data representations by RIVM today. One of our primary sources of data has been removed (the map on the front-page). We are working on a solution for this. Because most of our pipelines are broken, we do need some time to rebuild this. The good news is, we seem to have access to all data we had before, so we can reconstruct the pipelines.

Best, on behal

[2020-06-17 14:34] sonar98 commented on #133
Also the numbers don't add up to the same values as the values they put in the site anymore.

[2020-06-17 16:33] J535D165 commented on #133
Hi  @sonar98, can you provide us an example. That might be interesting for us and we can share this with RIVM if this is something on their side.

Thanks to @RVoor, we are almost back in business. But please let us know if there is unexpected behavior. This is teamwork with you all.

[2020-06-17 17:25] sonar98 commented on #133
You can copy the csvdata from the source of the webpage and paste it in Excel.
If you sum al the columns you get different numbers than the ones mentioned in the summery at the top of the page.

The data that is available at this link is also not equal to the data from the map:
https://data.rivm.nl/covid-19/COVID-19_aantallen_gemeente_cumulatief.csv

[2020-06-17 17:36] wbijster commented on #133
I assume that the difference is equal to the numbers per province where the municipality is unknown? The total numbers for NL on the RIVM page match with the daily sum of the numbers in the CSV file.

[2020-06-17 17:47] sonar98 commented on #133
If I compare the numbers for all the municipalities in the provence of Utrecht with the numbers shown in the powerbi dashboard (VR Ijselland) or the data from data.rivm.nl then there is a difference in the number of hospitalized. The numbers don't match anymore since the RIVM introduced the timeslider in the map.

[2020-06-17 18:11] wbijster commented on #133
The number of hospitalised persons for the province of Utrecht today (2020-06-17) should be 880. For 5 of these the municipality is unknown.

[2020-06-17 18:34] sonar98 commented on #133
Yes that is true but if you use the data that is used to create the maps (csvdata part of the sourcecode) the total is 843. Monday the data was correct but after introducing the timeslider the data is incomplete.

[2020-06-17 18:55] wbijster commented on #133
Ok, so you have download 8 data files for the 8 two-week-periods and summed the numbers for the municipalities in Utrecht (Amersfoort, Baarn, Bunnik, Bunschoten, De Bilt, De Ronde Venen, Eemnes,
Houten, IJsselstein, Leusden, Lopik, Montfoort, Nieuwegein, Oudewater, Renswoude, Rhenen, Soest,
Stichtse Vecht, Utrecht, Utrechtse Heuvelrug, Veenendaal, Vijfheerenlanden, Wijk bij Duurstede, Woerden, Wou

[2020-06-18 10:04] 4tikhonov commented on #133
Hi @J535D165 and others, no worries, day by day archive of CoronaWatchNL repo is available here in Dataverse, nothing got lost:
https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/0PD4JM

[2020-06-21 12:14] Allactaga commented on #133
What strikes me surprising here is that up until the change daily differences and totals were **all the time** matching (except _maybe_ once in early March). Since the change every day daily difference is greater than difference of totals.

I am not exactly sure what conclusion to draw from this:
A. Data unstable since new changes in the format (struggling with causality here)
B. Data was already

[2020-07-01 08:23] japhir opened #141 "Zenodo is not updating since may"
Hi, not sure if you're aware, but the Zenodo dataset hasn't been updated since may. Was this intentional or not?

[2020-07-07 14:57] Tablel352 opened #146 "Accordance with map/data on the RIVM website"
Should this data - https://raw.githubusercontent.com/J535D165/CoronaWatchNL/master/data-geo/data-municipal/RIVM_NL_municipal.csv - be in accordance with this map/data on the RIVM website (https://www.rivm.nl/coronavirus-covid-19/actueel#!node-coronavirus-covid-19-meldingen?  Or is it known that it is not and the differences can be explained?

If I take for example Amsterdam (Gemeentecode 363) in t

[2020-07-13 14:20] fmeijers opened #151 "data-ic/data-nice has not been updated since july 8"
Hello, I see that the data with regard to the intensive care has not been updated since July 8. Is that not going to happen again, or will it be resumed? If the latter is the case, is it already known from when?? Thanks.

[2020-07-13 19:25] J535D165 commented on #146
Dear @Tablel352, sorry for the late response.

Unfortunately, the data at the website doesn't match the data of their own API. https://data.rivm.nl/covid-19/COVID-19_aantallen_gemeente_cumulatief.csv. I'm clueless on the reason. I haven't seen any reason to doubt the API so far. The numbers are quite similar with the daily reported numbers (back in the days).

This is a prove that our data matches

[2020-07-13 19:36] J535D165 commented on #151
Hi @fmeijers,

I did an update of the data. I thought, maybe it is fine to do weekly update for this dataset as well. But if you are unhappy with this, I can have a look on updating this more regularly. The main issue is that automating this pipeline is a bit challenging because nice is blocking so many IP-addresses.

[2020-07-14 07:12] Sikerdebaard commented on #151
@J535D165 if it helps any I'm mirroring the api output to this repo once an hour. This should be accessible by github pipelines. The data extraction pipeline itself is running on a VM in a hospital so it is unlikely that it's going to be blocked.

https://github.com/Sikerdebaard/dutchcovid19data

[2020-07-14 11:48] J535D165 commented on #151
Great! I will start using this and automate with GH Actions

[2020-07-14 12:36] fmeijers commented on #151
Hi, Thanks for your quick responses and solutions. It would be great if the data will be refreshed on a daily basis (or even more frequent;-). I use these data in my Covid-19 dashboard in which all other data is refreshed on a daily basis: bit.ly/COVID-19-DB

[2020-07-14 12:36] #151 closed

[2020-07-20 20:59] shadkam opened #153 "another attempt to show filterable / sortable gemeente-wise data in table / chart"
Hi,

First of all .. thanks a lot for this effort.

I tried to put together [this page](https://shadkam.github.io/jsutils/html/covnl01.html), which makes use of data from https://github.com/J535D165/CoronaWatchNL/ ( specifically this file: https://raw.githubusercontent.com/J535D165/CoronaWatchNL/master/data/rivm_NL_covid19_total_municipality.csv  ).
It shows gemeente wise sortable tables / graphs

[2020-07-20 21:02] J535D165 commented on #153
Nice, this looks very smooth! Feel free to drop your work on this page by creating a PR: https://github.com/J535D165/CoronaWatchNL/tree/master/applications.

[2020-08-01 21:44] MrOoijer commented on #146
I was trying to find the data the RIVM uses to estimate the R(t), and I finally figured it out.

"https://data.rivm.nl/covid-19/COVID-19_aantallen_gemeente_cumulatief.csv" is counting the number of people hospitalized per the day they were admitted to the hospital.  Counts before march 14 are missing.

Contrary to that "https://data.rivm.nl/covid-19/COVID-19_casus_landelijk.csv" has the first day

[2020-08-13 19:46] #141 closed

[2020-09-18 12:54] goedzo opened #158 "Weekly stats on numbers of tests not updated"
Weekly RIVM report has new test numbers: https://www.rivm.nl/sites/default/files/2020-09/COVID-19_WebSite_rapport_wekelijks_20200915_1433_NICEedit.pdf

Tabel 14: Aantal geteste personen en aantal SARS-CoV-2 positief geteste personen inNederland, gemeld door laboratoria, per week
.....
2020-09-07 -   2020-09-13     54     182964    5968    3.3
---

However, data is not updated in this file:
https:/

[2020-09-19 06:57] PanderMusubi opened #161 "Sewage water graph lagging behind with data"
Please (automatically) update sewage water graph which now goes until third week of August while there is data until mid September.

[2020-09-19 09:02] J535D165 commented on #161
Oke, I do have to update the graphs asap.

Check out this issue as well https://github.com/minvws/nl-covid19-data-dashboard/issues/255.  I think it is unrelated, so just  for reference.

[2020-09-19 09:40] J535D165 commented on #161
I think it is resolved. Please do let me know if you think otherwise.

[2020-09-19 09:40] #161 closed

[2020-09-23 08:04] zwakhall commented on #158
Wrong date for data on Week 37. It says September 1. 2020 instead of September 7. 2020

[2020-09-23 08:41] J535D165 commented on #158
Fixed. I really need to write a unit test on this one. Too many mistakes. I'm sorry.

[2020-09-23 08:41] #158 closed

[2020-09-23 13:49] zwakhall commented on #158
Nice! Thx.
FYI: I use this data in https://www.iviz.nl/corona

[2020-09-23 14:10] J535D165 commented on #158
Nice work. Feel free to drop a link in our applications folder.

[2020-09-27 12:23] hungrxyz opened #163 "iOS App"
# CoronaWatchNL iOS App
First of all: thank you for creating this project and everyone contributing. It's awesome!

I like to keep track of daily numbers on my phone/tablet/watch/whatever and wanted something more convenient than going to a website. So I build a small iOS app with a widget that shows me latest numbers at a glance. I've been using it for about a week now and I wanted to publish it

[2020-09-30 11:50] hungrxyz commented on #163
@J535D165 Any thoughts on this from the side of Utrecht University?

[2020-10-07 00:21] fmeijers opened #169 "CoronaWatchNL/data-ic/data-nice/ - datasets are empty"
Hi,

I thankfully use your datasets from NICE.

I notice that both tables on CoronaWatchNL/data-ic/data-nice/    are empty. They show the value 0 for all variables on all days

That is the case since October 6.

I hope you will be able to retrieve the data from Nice again soon.

Thanks in advance!
Frank

[2020-10-07 05:14] J535D165 commented on #169
@Sikerdebaard

We will have a look asap. Thanks for reporting.

[2020-10-07 07:31] J535D165 commented on #169
I think this was a glitch on the side of NICE. It works again. I will have a check at 4 PM (when the new data is collected by our project) to make sure everything works as expected.

[2020-10-07 07:31] #169 closed

[2020-10-07 13:10] fmeijers commented on #169
Thanks it works!

[2020-10-12 16:20] realrolfje opened #170 "Contagious data not up to date"
https://github.com/J535D165/CoronaWatchNL/tree/master/data-dashboard/data-contagious
is 13 days old

[2020-10-12 16:34] Sikerdebaard commented on #170
This data comes from the rivm. The newest number released by them is from September 25th. I guess we have to wait until rivm releases new data?

https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/097155aa-75eb-4caa-8ed3-4c6edb80467e?tab=relations

[2020-10-12 16:46] realrolfje commented on #170
Yes I noticed that the coronadashboard.nl has the same problem. I've mailed them about this issue, I think this estimate could (should) be a daily estimate, given the current circumstances.
Thanks for providing shit repo!

[2020-10-13 08:44] goedzo commented on #158
Waiting a week for merge: https://github.com/J535D165/CoronaWatchNL/pull/168

[2020-10-13 09:27] goedzo opened #171 "Extract Settings data from report to JSON"
Since June 30, the weekly report includes settings data (the "location origin" where an infection has been been found. E.g. https://github.com/J535D165/CoronaWatchNL/blob/master/reports/COVID-19_epidemiological_report_20200630.pdf table 6.

This is very helpful data in inspecting measures vs the effect. Is it possible that the extraction of this data can be done from the PDF's and stored in a nice

[2020-10-13 09:42] J535D165 commented on #171
This makes sense to digitalize this table. Especially the "Sinds 4 mei" column.

Let's parse this into something like this: https://github.com/J535D165/CoronaWatchNL/tree/master/data-misc/data-underlying/data-underlying_statistics

[2020-10-13 09:44] goedzo commented on #171
Please note that the "sinds 4 mei" column changes its dates in following reports. No idea why though.

[2020-10-13 09:44] J535D165 commented on #170
Thanks for reporting. I will close this issue for now. Let's see when RIVM starts publishing this data again (very concerning that especially this number is not available for weeks now..)

[2020-10-13 09:44] #170 closed

[2020-10-24 15:18] realrolfje commented on #170
Antwoord van RIVM:

[2020-10-27 15:57] Sikerdebaard opened #174 "Ziekenhuisopname empty in RIVM data"
The ziekenhuisopname seems to be empty in this dataset: https://github.com/J535D165/CoronaWatchNL/blob/master/data/rivm_NL_covid19_national_by_date/rivm_NL_covid19_national_by_date_latest.csv

Is there a reason for it to be empty? :)

[2020-10-27 16:05] J535D165 commented on #174
Unfortunately, the data is no longer available in the PDFs (As far as I know). In the past, we had a hard time reconstructing this data from the open data entry point. So what should we do?

[2020-10-27 16:13] Sikerdebaard commented on #174
Ah I see. That is unfortunate.

Could the number of hospitalized be extrapolated from here? Since cumulative Ziekenhuisopname seems to work in this dataset? https://raw.githubusercontent.com/J535D165/CoronaWatchNL/master/data/rivm_NL_covid19_national.csv

If not I'll just remove it from covid-analytics.nl. There's enough alternative sources after all (LCPS / Stichting NICE.)

[2020-10-27 17:01] Sikerdebaard opened #175 "Information on infection count in healthcare workers"
It seems the RIVM epidemiological reports contain information on the number of covid-19 infections under healthcare workers. In the latest report this can be found on the last page under '12.7 Surveillance van COVID-19 onder zorgmedewerkers'.

Would it be possible to add the number of infected in this section to this repo? E.g. extract the 40896 from 'Tot en met 27 oktober 10.00 uur zijn 40896 zor

[2020-10-27 17:52] Sikerdebaard opened #176 "Number of tests performed in RIVM report"
In the RIVM report there are currently two different sources on the number of tests performed. One is from the GGD's and another one is from the labs within the Netherlands. There's quite a discrepancy between these two sources.

E.g. week 43:
GGD's: total tests 285227, positive tests 51166, percentage positive 17.9%
Labs: total tests 197020, positive tests 31277, percentage positive 15.9%

The re

[2020-10-28 10:21] goedzo commented on #174
Also not included here: https://raw.githubusercontent.com/J535D165/CoronaWatchNL/master/data/rivm_NL_covid19_age.csv

[2020-10-30 08:46] Sikerdebaard commented on #174
`import pandas as pd

df = pd.read_json('https://data.rivm.nl/covid-19/COVID-19_aantallen_gemeente_cumulatief.json')

df['Date_of_report'] = pd.to_datetime(df['Date_of_report'])
df = df.set_index('Date_of_report')

df_daily = df.resample('D').sum().diff()
df_daily = df_daily.iloc[1:]

for col in df_daily.columns:
    df_daily[col] = df_daily[col].astype(int)

df_daily.rename(columns={'Total_report

[2020-10-30 11:52] mcnakhaee opened #177 "R package and new datasets"
Recently, I've been working on including all of the datasets that you have provided into an R package for easier use.  Now the first version of package is available here:
https://github.com/mcnakhaee/CoronaWatchNL

However, along the way I noticed that I can include more data sources such as mortality rate published by [CBS.nl](https://www.cbs.nl/en-gb/series/mortality-per-week) and[ mobility data

[2020-10-30 17:07] Sikerdebaard opened #178 "Slight differences between case count datasets"
There are some slight differences in reported case counts between different data sources. I've visualized these differences in the links below. I think it's interesting.

For the RIVM case reports (green line) the dates of symptom onset are used instead of the reporting date. This makes the curve quite smooth and satisfying.

https://covid-analytics.nl/population.html#chart-rivm-infected
https://c

[2020-11-01 09:41] realrolfje opened #179 "Total number of tests per week deviates from sources"
The file https://raw.githubusercontent.com/J535D165/CoronaWatchNL/master/data-misc/data-test/RIVM_NL_test_latest.csv shows the total number of tests, but the number is significantly lower than the GHOR and RIVM data:

| Week | Coronawatch | GHOR    | RIVM    |
|-----:|------------:|--------:|--------:|
|   42 |     213.045 | 311.188 | 285.277 |
|   43 |     197.020 | 321.654 | 310.716 |

GHOR data

[2020-11-01 10:05] realrolfje commented on #179
I think I found it:
On page 27 of COVID-19_epidemiological_report_20201027.pdf the number of tests match the GHOR/RIVM numbers.

On page 42 of COVID-19_epidemiological_report_20201027.pdf, the number of tested persons is reported, which is lower (the same person can be tested twice, but counts as 1 person).

The GHOR and RIVM sites report total number of tests, CoronaWatch reports number of people

[2020-11-01 10:18] Sikerdebaard commented on #179
Potentially related to #176

[2020-11-01 10:24] realrolfje commented on #179
Correct, #176 shows the same difference. It means that roughly 30% of tests are on the same person in that month:
Page 27: "Totaal aantal testen met uitslag"
Pave 41: "Aantal geteste personen"

[2020-11-01 22:28] J535D165 commented on #179
Hmm, thank you for your thoughts on this topic. The explainability and quality of the test data are concerning (since the first day it was available). The numbers are hard to match with the daily positively tested persons. I will have a look at your idea. For now, I decided to add a reference to the source of the data in the CSV files and added a new file with GGD-GHOR data.

GGD-GHOR data: https:

[2020-11-02 14:08] Sikerdebaard commented on #179
Here's a snippet that automatically extracts the table from the GGD page.

[code]

[2020-11-02 23:36] #177 closed

[2020-11-10 17:08] shgwld opened #180 "Negative values municipal dataset for number of diagnosed/hospitalized/deceased cases"
Hi all,

Thanks so much for pulling these data together!

I have noticed that in the municipal dataset some municipalities have negative values for the number of diagnosed/hospitalized/deceased cases (**Aantal**). This seems a little odd to me. Is this a glitch?

Thanks very much in advance!

All the best,
Sven

[2020-11-19 13:22] Sikerdebaard opened #184 "LCPS now publishes a CSV with it's data"
So LCPS now has a csv file with it's data. It does not contain the hospitalized in germany data unfortunately, but it's definitely a good step forward. :+1:

https://lcps.nu/datafeed/

[2020-11-23 20:05] J535D165 commented on #184
Thanks, @Sikerdebaard for pointing out, this a major step forward.

What do you think about all the differences?

https://lcps.nu/39-covid-patienten-op-ic/ reports 39, the CSV reports 36. This happens quite often. (btw the URLs of the news items are funny).

I like the new variables and I will have a look at integrating this into our dataset.

[2020-12-07 15:49] Sikerdebaard opened #185 "GGD no longer publishing tests performed per week"
The GGD has stopped publishing data on tests performed per week on the page below. This is unfortunate because the data was quite machine-readable and quite complete.

https://ggdghor.nl/actueel-bericht/weekupdate-cijfers-coronatests-bij-de-ggden-2/

As a replacement the GGD points to the website of the RIVM. Unfortunately this means that if we want to keep this data up-to-date we need to parse th

[2020-12-07 16:25] Sikerdebaard commented on #185
Here's another method to extract this data from the coronadashboard datablob.

[code]

[2020-12-08 20:21] J535D165 commented on #185
Great scripts! It might be a good idea to make a new dataset with these test counts because it differs from GGD and virologische dagstaten (dataset 3...). RIVM is about to publish two new open datasets this week. As far as I know, a dataset with test counts isn't among them.

Hopefully, I can find some time to work on this tomorrow.

[2020-12-12 09:32] wbijster commented on #185
Very interesting, many thanks, I did not know about the coronadashboard.rijksoverheid.nl/latest-data.zip yet!

[2021-01-04 10:24] frankivo opened #186 "data-geo no longer updating"
Last update was on 2021-01-01

[2021-01-04 13:42] J535D165 commented on #186
Thanks for reporting. It turned out that one of our automation dependencies made a sudden change (Github changed the branch name `master` into `main` and this package made a change that wasn't backward compatible.).

[2021-01-04 13:42] #186 closed

[2021-01-05 10:42] WilliamElferink opened #188 "RIVM_NL_age_distribution no longer updating since 09-12-2020"
data-dashboard/data-descriptive/RIVM_NL_age_distribution is no longer updating since 09-12-2020.
There do seem to be daily updates available in the corona dashboard at https://coronadashboard.rijksoverheid.nl/landelijk/positief-geteste-mensen, but their source link is broken (goes to cases per municipality).

Is there a fix available?

[2021-01-09 10:05] JJKuijvenhoven opened #189 "RIVM_NL_test_latest wrong data starting on 2020-12-14"
![image](https://user-images.githubusercontent.com/49170926/104088827-ec092c80-5269-11eb-8729-efc669a2c1fa.png)

On 14th of December 2020, the column week says week 50, while it should be weeknumber 51. Because of that, the weeks after also have a wrong weeknumber.

Furthermore in column BeginDatum the last two rows state 2021-12-28, which should be the year 2020, not 2021.

I just wanted to let y

[2021-01-27 00:29] Sikerdebaard opened #190 "Vaccination data from dashboard"
Here's a repo with scraped vaccination data from the gov dashboard. Feel free to use it.

https://github.com/Sikerdebaard/netherlands-vaccinations-scraper

[2021-01-29 10:04] Prikkel opened #191 "Missing data municipalities"
Hi,

Since the update from 28-01-2021, the data between 15-06-2020 and 28-01-2021 is missing.

This is the case for (at least) /data/ :
- rivm_NL_covid19_hosp_municipality.csv
- rivm_NL_covid19_fatalities_municipality.csv
- rivm_NL_covid19_fatalities_municipality.csv

Example:
2020-06-15,1963,Hoeksche Waard,Zuid-Holland,28,76.0
2020-06-15,1966,Het Hogeland,Groningen,20,7.0
2020-06-15,1969,Westerkw

[2021-02-01 11:14] wbijster commented on #190
Great, many thanks once again!!!

[2021-02-05 19:50] realrolfje opened #192 "Weekly corona-test numbers have stopped"
I noticed that
https://github.com/J535D165/CoronaWatchNL/blob/master/data-misc/data-test/RIVM_NL_test_latest.csv

Has not been updated since 2020-01-19. I haven't been able to run the whole suite, I'll see what I can do but is this something you are aware of and/or are fixing?

Cheers,
Rolf

[2021-03-21 09:24] rcsmit commented on #184
Where can I find the 'opnames' before the 17th of October 2020?

[2021-03-25 20:55] frankivo opened #193 "National data doubled"
Todays national count (15281) seems about the double from the announced version.

[2021-03-31 07:44] frankivo opened #194 "National data incomplete"
2021-03-24 is missing

[2021-04-05 12:53] rdlarah opened #195 "Missing municipality Eemsdelta"
Hi there,

thank you for the mostly excellent work.

However I stumbled over a minor error:

Effective 2021-01-01 the former municipalities Appingedam, Delfzijl and Loppersum (provincie Groningen) ceased to exist. In RIVM_NL_municipal.csv their infection data (Aantal, AantalCumulatief have been correctly set to zero beginning with Datum == "2021-01-07".

However the new municipality Eemsdelta does

[2021-04-18 08:36] #122 closed

[2021-04-18 08:51] #77 closed

[2021-04-18 08:51] #96 closed

[2021-04-18 08:51] #116 closed

[2021-04-18 08:51] #129 closed

[2021-04-18 08:51] #133 closed

[2021-04-18 08:51] #146 closed

[2021-04-18 08:51] #153 closed

[2021-04-18 08:51] #163 closed

[2021-04-18 08:51] #171 closed

[2021-04-18 08:51] #174 closed

[2021-04-18 08:51] #175 closed

[2021-04-18 08:51] #176 closed

[2021-04-18 08:51] #178 closed

[2021-04-18 08:51] #179 closed

[2021-04-18 08:51] #180 closed

[2021-04-18 08:51] #184 closed

[2021-04-18 08:51] #185 closed

[2021-04-18 08:51] #188 closed

[2021-04-18 08:51] #189 closed

[2021-04-18 08:51] #190 closed

[2021-04-18 08:51] #191 closed

[2021-04-18 08:51] #192 closed

[2021-04-18 08:51] #193 closed

[2021-04-18 08:51] #194 closed

[2021-04-18 08:51] #195 closed

[2021-04-18 08:51] #33 closed

[2021-04-18 08:51] #58 closed

[2021-04-18 08:51] #60 closed